
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <hr style="border:1px solid #f00" />
    <h3>动态组件</h3>
    <div id="example-1" class="container">
        <component v-bind:is="currentView">
        </component>
    </div>
    <script>
        var vm = new Vue({
            el: '#example-1',
            data: {
                currentView: 'home'
            },
            components: {
                home: { template: '<p>Welcome home!</p>' },
                posts: { template: '<p>Welcome posts!</p>' },
                archive: { template: '<p>Welcome archive!</p>' }
            }
        })
    </script>
    <hr style="border:1px solid #f00" />

    <hr style="border:1px solid #f00" />

</body>
</html>
