@model GUISUVVueComponent.Controllers.Item

@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>测试</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div id="watch-example">
        <hello-world></hello-world>
    </div>
    <div id="watch-example1">
        <hello-vue></hello-vue>
    </div>

    <script type="text/x-template" id="hello-world-template">
        <div>
            <h1>标题</h1>
            <p>Hello World</p>
        </div>
    </script>
    <script src="~/vue/vuejs.js"></script>
    <script type="text/javascript">     

        Vue.component('hello-vue', function (resolve, reject) {
            // 可以请求一个html文件，既然存放模板还是html文件存放比较好
            $.get("/vue/mytemplate.html").then(function (res) {
                resolve({
                    template: res
                })
            });
        });
        var vm = new Vue({
            el: "#watch-example1"
        })


       

    </script>


</body>
</html>
