@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>测试</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        input[type=text] {
            border: 1px solid #cccccc;
            width: 100%;
            height: 30px;
        }
        select{
            width:100px;
            height:30px;
        }
        input[type=radio] {
            width: 16px;
            height: 16px;
        }
    </style>
</head>
<body>

    <div class="row" style="margin-top:10px;">
        <div class="col-md-12" id="app">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>民族</th>
                        <th>身高</th>
                    </tr>
                </thead>
                <tbody id="data_row">
                    <tr style="padding:0px;">
                        <td style="padding:0">
                            <input placeholder="" type="text" v-model="name" tabindex="1" v-on:keyup.enter="skip">
                        </td>
                        @*<td style="padding:0">
                            <input type="radio" v-model="sex" value="女" tabindex="2" v-on:keyup.enter="skip"><label for="女">女</label>
                            <input  type="radio" v-model="sex" value="男" tabindex="2.1" v-on:keyup.enter="skip"><label for="男">男</label>&nbsp;
                        </td>*@
                        <td style="padding:0">
                            <input placeholder="" type="text" v-model="sex" tabindex="2" v-on:keyup.enter="skip">
                        </td>
                        <td style="padding:0">
                            <input placeholder="" type="text" v-model="age" tabindex="3" v-on:keyup.enter="skip">
                        </td>
                        <td style="padding:0">
                            <select v-model="mz"  tabindex="4">
                                <option>汉</option>
                                <option>满</option>
                                <option>蒙</option>
                            </select>
                        </td>
                        <td style="padding:0">
                            <input placeholder="" type="text" v-model="height" tabindex="5" v-on:keyup.enter="sava" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                sex: '',
                age: '',
                mz:'汉',
                height: ''
            },
            methods: {
                sava: function () {
                    $.post("/addperson", { name: this.name, sex: this.sex, age: this.age,mz:this.mz, height: this.height }, function (dataBack) {

                        $("#data_row").append("<tr><td>" + dataBack.name + "</td><td>" + dataBack.sex + "</td><td>" + dataBack.age + "</td><td>" + dataBack.mz +  "</td><td>" + dataBack.height + "</td></tr>")
                        $("[tabindex=" + 1 + "]").focus();

                        //清空属性
                        for (var p in app._data) {                     
                            if (typeof (app[p]) != "function") {                           
                                app._data[p] = '';
                            }
                        }
                        app.mz = '汉';
                    })
                },
                skip: function (e) {
                    console.log($("[tabindex=" + (parseInt($(e.target).attr("tabindex")) + 1) + "]"))
                    $("[tabindex=" + (parseInt($(e.target).attr("tabindex")) + 1) + "]").focus();
                }
            }
        })
    </script>
</body>
</html>
